<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="constraint.com.linkmindpro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.linkmindpro.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.linkmindpro.activities.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.linkmindpro.activities.ViewPagerActivity"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.linkmindpro.activities.LoginActivity"
            android:theme="@style/showNotificationBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.linkmindpro.activities.DoctorListActivity"
            android:theme="@style/NewAppTheme" />

        <activity
            android:name="com.linkmindpro.activities.ChatActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.EditProfileActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.DoctorPatientInfoActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterFirstActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterSecondActivity"
            android:theme="@style/showNotificationBar" />
        <activity
            android:name="com.linkmindpro.activities.RegisterThirdActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterFourthActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterFifthActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterReviewActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.SubscribeActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.RegisterCardActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.ForgotPasswordActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.ChangePasswordActivity"
            android:theme="@style/showNotificationBar" />

        <activity
            android:name="com.linkmindpro.activities.DoctorSettingActivity"
            android:theme="@style/showNotificationBar" />

    </application>
</manifest>